<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login Page</title>
  <!-- Angular Material CSS -->
  <link href="https://cdn.jsdelivr.net/npm/@angular/material@15.0.0/prebuilt-themes/indigo-pink.css" rel="stylesheet">
  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">
</head>

<body>
<div class="login-container">
  <div class="login-header">
    <h1>Financial Buddy</h1>
  </div>
  <form>
    <mat-form-field appearance="fill" style="width: 100%; margin-bottom: 16px;">
      <mat-label>Usuário</mat-label>
      <input matInput type="text" required [(ngModel)]="userName" name="userName">
    </mat-form-field>

    <mat-form-field appearance="fill" style="width: 100%; margin-bottom: 24px;">
      <mat-label>Senha</mat-label>
      <input matInput type="password" required [(ngModel)]="password" name="password">
    </mat-form-field>
    <button mat-raised-button style="width: 100%;" (click)="onLogin()">Entrar</button>
  </form>
</div>
</body>

</html>

